# pychache directories
*/__pycache__/*

# any downloaded book
*.txt

# pixi environments
.pixi


# any html file from Scalene
*.html

# Ouput from compilation
build/*
utils/*.c
utils/*.html
utils/*.so